<%- include('partials/header.ejs')-%>
    <div class="row justify-content-md-center gap">
        <div class="col-md-6">
            <form action="/paywithpaytm" method="GET">
                <h2>Payment</h2>
                <div class="form-group">
                    <input type="number" style="display: none;" class="form-control" name="amount" id="amount" value="<%=currentUser.total_outstanding%>">

                </div>
                <!-- <div class="form-group">
                <label for="phone_number">Phone no.</label>
                <input type="phone_number" name="phone_number" class="form-control" id="phone_number" placeholder="phone number">
            </div>
            <div style="display: none;"><input type="text" name="_id" value="<%=currentUser._id%>">
                <input type="email" name="email_id" value="<%=currentUser.email_id%>">
            </div> -->
                <button type="submit" class="btn btn-primary btn-block">pay</button>
            </form>
        </div>
    </div>
    <%- include('partials/footer.ejs')-%>