<%- include('partials/header.ejs')-%>
    <div class="container ">
        <div class="row justify-content-md-center gap">
            <div class="col-md-6">
                <form action=<%="/paywithpaytm/" +currentInvoice._id %> method="GET">
                    <h2>Payment of
                        <%=currentInvoice.invoice_amount%>
                    </h2>
                    <div class="form-group">
                        <input type="number" required style="display: none;" class="form-control" name="amount" id="amount" value="<%=currentInvoice.invoice_amount%>" min="<%=Math.floor(currentInvoice.invoice_amount-1)%>" max="<%=currentInvoice.invoice_amount%>">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">pay</button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs')-%>