<%- include('partials/header.ejs')-%>
<div class="container">
    <a href="/home/dashboard">Go Back!</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Invoice amount</th>
                <th scope="col">Remark</th>
                <th scope="col">Issue Date</th>
            </tr>
        </thead>
        <tbody>
            <%var i=1%>
                <%currentUser.invoices.forEach(function(invoice){%>
                    <tr>
                        <th scope="row">
                            <%=i++%>
                        </th>
                        <td>
                            <%=invoice.invoice_amount%> Rs
                        </td>
                        <td>
                            <%=invoice.description%>
                        </td>
                        <td>
                            <%=invoice.date.toDateString()%>
                        </td>
                    </tr>
                    <%})%>
        </tbody>
    </table>
</div>
    <%- include('partials/footer.ejs')-%>