<%- include('partials/header.ejs')-%>
    <div class="container">
        <a href="/home/dashboard"><i class="fas fa-arrow-circle-left"></i> Go Back!</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Invoice amount</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <%var i=1%>
                    <%currentUser.invoices.forEach(function(invoice){%>
                        <tr>
                            <th scope="row">
                                <%=i++%>
                            </th>
                            <td>
                                <%=invoice.actual_amount%> Rs
                            </td>
                            <td>
                                <%=invoice.description%>
                            </td>
                            <td>
                                <%=invoice.date.toDateString()%>
                            </td>
                            <td>
                                <%if(invoice.paid){%>
                                    <x>paid <i class="fas fa-check"></i></x>
                                    <%}else{%>
                                        <x2>unpaid <i class="fas fa-times"></i></x2>
                                        <%}%>
                            </td>
                        </tr>
                        <%})%>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer.ejs')-%>