<%-include("partials/header.ejs")-%>
    <div class="container">
        <a href="/home/dashboard"><i class="fas fa-arrow-circle-left"></i> Go Back!</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Invoice amount</th>
                    <th scope="col">Remark</th>
                    <th scope="col">Outstanding</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <%var i=1%>
                    <%currentUser.invoices.slice().reverse().forEach(function(invoice){%>
                        <tr>
                            <th scope="row">
                                <%=i++%>
                            </th>
                            <td>
                                <i class="fas fa-rupee-sign"><%=invoice.actual_amount%></i>
                            </td>
                            <td>
                                <%=invoice.description%>
                            </td>
                            <td>
                                <i class="fas fa-rupee-sign"><%=invoice.invoice_amount %></i>
                            </td>
                            <td>
                                <%if(invoice.paid){%>
                                    <x>paid<i class="fas fa-check"></i></x>
                                    <%}else{%>
                                        <a href="/home/dashboard/status/<%=invoice._id%>" class="btn btn-sm extra-btn">Pay</a>
                                        <%}%>
                            </td>
                        </tr>
                        <%})%>
            </tbody>
        </table>
    </div>
    <%-include("partials/footer.ejs")-%>